*~
.DS_Store
.vagrant
erise.js
Vagrantfile
proxy.js
routes
views
cookbooks
bin
app
node_modules/chai
node_modules/express
node_modules/cookie-parser
node_modules/serve-favicon
node_modules/body-parser
node_modules/debug
node_modules/ws
node_modules/nodejs-websocket
node_modules/morgan
jira2slack/bot.js