<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/style.css" />
        <title>
        %title%
        </title>
        %head%
    </head>
    <body>
    <div class="col-md-12"><h1 class="page-header">Overview</h1></div>
    <div id="users" class="col-md-4">%users_title%<table class="table table-striped">%users%</table></div>

    <div id="managers" class="col-md-4">%managers_title%<table class="table table-striped">%managers%</table></div>
<script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
    </body>
</html>